_site
.jekyll-cache/
assets/images/aeolus_dif.png
assets/images/baliza_somo.png
assets/images/cuerdalarga.mp4
assets/images/frontogenesis.mp4
assets/images/frontogenesis.webm
assets/images/sputnik.png
