<head>
   <!-- Meta -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>RASP by Uri & Noel</title>
   <!-- CSS -->
   <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
   <!-- JS -->
   <script type="text/javascript" src='/assets/js/runtime.js'> </script>
   <link rel="shortcut icon" type="image/svg+xml" href="/assets/images/logo.svg">
   <!-- MathJax -->
   <script>
      MathJax = {
         tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
      };
   </script>
   <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
   <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

